@tailwind base;
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @apply font-sans text-base;
  font-size: 10px;
  background-color: #faf6e3;
}

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* FAF6E3 */
.dish-container {
  @apply h-[400px] w-[300px];
}
.dish-container > * {
  @apply mb-[.5rem];
}

.dish-image {
  @apply h-[60%] w-full relative;
}
.dish-image img {
  @apply object-cover w-full h-full rounded-t-2xl;
}

.dish-category {
  @apply font-sans text-gray-400;
}

.dish-name {
  @apply font-sans font-bold text-[1.2rem];
}

.dish-price-spice {
  @apply flex justify-between text-[1rem] items-center;
}

.dish-cart:hover {
  @apply text-white bg-gray-300;
}

.dish-cart {
  @apply flex items-center justify-center gap-3 py-2 border cursor-pointer rounded-2xl;
}

.dish-cart p {
  @apply text-center;
}

.item-container {
  @apply bg-[#FAF6E3] w-[1000px]  px-[10rem] flex flex-col text-start text-[1rem] gap-5;
}

.item-image {
  @apply h-auto w-[450px] self-center;
}
.item-image img {
  @apply w-full h-full rounded-xl;
}

.item-flex {
  @apply flex items-center gap-1;
}

.ani {
  animation: zoomIn 5s ease-in;
}

@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}
