@tailwind base;
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @apply text-base font-sans;
  font-size: 10px;
}

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

.dish-container {
  @apply h-[400px] w-[300px];
}
.dish-container > * {
  @apply mb-[.5rem];
}

.dish-image {
  @apply h-[60%] w-full;
}
.dish-image img {
  @apply w-full h-full object-cover rounded-t-2xl;
}

.dish-category {
  @apply font-sans text-gray-400;
}

.dish-name {
  @apply font-sans font-bold text-[1.2rem];
}

.dish-price-spice {
  @apply flex justify-between text-[1rem] items-center;
}

.dish-cart:hover {
  @apply text-white bg-gray-300;
}

.dish-cart {
  @apply flex justify-center items-center py-2 gap-3 cursor-pointer border rounded-2xl;
}

.dish-cart p {
  @apply text-center;
}
